.container {
  min-height: 100vh;
  width: 100vw;
  padding-left: 25px;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.locationSection button{
  width: 185px;
}

.priceSection [aria-checked="true"] {
  background: #0054A9;
}
